<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>canyonCozyResolver</key>
    <string>FindSignerInspector</string>
    <key>accurateAngleCatalogerBehind</key>
    <string>ComputeVisualizeTexture</string>
    <key>growingResolverMineUnder</key>
    <string>SubmitResolver</string>
    <key>painterPacificDecompressSpoke</key>
    <string>WirelessDeepScrollStore</string>
    <key>matureStorage</key>
    <string>HeaderTameVisionShape</string>
    <key>blendPresenter</key>
    <string>ChiefChasmTwist</string>
    <key>reliableRoadmap</key>
    <string>FormatterDigitalIndexConverter</string>
    <key>towardController</key>
    <string>MapperPresentPleasedGeneric</string>
    <key>applyTangible</key>
    <string>AccelerateConnectorProtectAnalyze</string>
</dict>
</plist>
