<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>findChainPrimal</key>
    <string>EstuaryUniversalModifyBalancedIdeal</string>
    <key>ownerWind</key>
    <string>CarefreeRefreshOutlineRefresh</string>
    <key>topmostTheme</key>
    <string>UpdaterTransformerSweet</string>
    <key>cachePeacefulPresenterIndex</key>
    <string>CleverResizeLoad</string>
    <key>underBrilliantGate</key>
    <string>TameUnderTupleHelper</string>
</dict>
</plist>
