<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>friendlyTextureFor</key>
    <string>EmitterViableWarehouseSequence</string>
    <key>kindRiverDownCreator</key>
    <string>StoreSmartShapeReceive</string>
    <key>holdRadiant</key>
    <string>WordOwlFormatterHide</string>
    <key>binderMixer</key>
    <string>FleetProjectorIndexStack</string>
</dict>
</plist>
