<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mainContinueController</key>
    <string>ThrottleCardWorkbenchSubmit</string>
    <key>ledgerVia</key>
    <string>ParcelJunctionPlacidSubmit</string>
    <key>syncQueryDecoratorWorthy</key>
    <string>PackQueueDelegateTemplate</string>
    <key>texturePlayfulIndexQuirk</key>
    <string>IntuitiveTrainTableConsolidate</string>
    <key>coordinatorParsePrism</key>
    <string>SliceWatchFormalDraw</string>
    <key>nearDelegateConsistentGate</key>
    <string>FeatureMapper</string>
    <key>resizeTimeless</key>
    <string>ThickYieldingIconModify</string>
    <key>validateDesertLively</key>
    <string>ConsolidateThicketPainterUltimate</string>
</dict>
</plist>
