<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workflowAnimatorInformation</key>
    <string>WorkbenchGetOffSpirited</string>
    <key>spectrumSmooth</key>
    <string>DropCarefulBonnyOnto</string>
    <key>logicalTimeline</key>
    <string>ScheduleEverydayLocalInitializeSand</string>
    <key>beneathOrchestrator</key>
    <string>BeyondCompareEnableSynchronizerCreator</string>
    <key>friendlyUnit</key>
    <string>InitializeMeasure</string>
    <key>fabricOver</key>
    <string>ThroughTooltipAppend</string>
    <key>stemNativeController</key>
    <string>RemoveResilientGenerateImport</string>
    <key>guidebookBehind</key>
    <string>WithoutCoordinatePaint</string>
</dict>
</plist>
