<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resolverMask</key>
    <string>RotateVisualizeBinaryTactful</string>
    <key>parserTide</key>
    <string>PackageWoodWayLake</string>
    <key>segmentCollectionAroundBreezy</key>
    <string>TimelineFallbackTheme</string>
    <key>justTempleGenerateLayout</key>
    <string>KeyDataSourceMerry</string>
    <key>mergeFormatter</key>
    <string>InitialThemeWorkbench</string>
    <key>formatterOriginalFaintCheck</key>
    <string>BoldOrganizer</string>
    <key>cautiousSheetCollectionTrain</key>
    <string>VastAlongSigner</string>
    <key>stylerBeyondLucky</key>
    <string>AlongParserSpring</string>
    <key>sphereModular</key>
    <string>TupleThroughoutYard</string>
    <key>conduitPreload</key>
    <string>EnumPreviewAcrossKnownTemplate</string>
</dict>
</plist>
