<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resetHandy</key>
    <string>RoundSaveWisdom</string>
    <key>sendRealCollectorCoder</key>
    <string>ChartSuperPainter</string>
    <key>aroundSurface</key>
    <string>HumorTimelineFormatRecord</string>
    <key>shadowThemeReactivePack</key>
    <string>HideSpotImplement</string>
</dict>
</plist>
