<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>giganticLedgeBeneathHandler</key>
    <string>PhoenixPrintDelegate</string>
    <key>hybridStrike</key>
    <string>BeneathOriginalTerminalBehind</string>
    <key>roundSeasonalFocus</key>
    <string>LoadHonestSelect</string>
    <key>compactTextureTowardStone</key>
    <string>HostAnalyzeAssemblerDialog</string>
    <key>projectorNeural</key>
    <string>WillowFreeConfigureSilver</string>
    <key>shuffleRadiantDelegate</key>
    <string>InsideRationalSage</string>
    <key>dryShader</key>
    <string>VesselSnapshotEveryday</string>
</dict>
</plist>
