<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>immenseStylerTranslateView</key>
    <string>CrownBlitheEnumRow</string>
    <key>workbenchKeenCompatible</key>
    <string>AnalyzeAtLeap</string>
    <key>brokerLucentOutline</key>
    <string>CorePresenterDaintyHinted</string>
    <key>assetDecorator</key>
    <string>GradientDirectoryConstructWalk</string>
    <key>pageMask</key>
    <string>TranquilFluent</string>
    <key>referenceRidgeCareful</key>
    <string>RecordWindQuery</string>
    <key>presenterTry</key>
    <string>ApplyFallsPreviewMagnet</string>
    <key>directoryStart</key>
    <string>GrandRoundScrollTimelineVoyage</string>
    <key>textureViewport</key>
    <string>TryPlannerSnackbarStart</string>
</dict>
</plist>
