<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prismBeginConverter</key>
    <string>PleasedTransformablePauseRadarEstuary</string>
    <key>dualMerge</key>
    <string>MatchRemoveArmatureUnder</string>
    <key>writeWealth</key>
    <string>ValuableBinderReservoir</string>
    <key>positionerVisualize</key>
    <string>ValidateLayoutResumeBehind</string>
</dict>
</plist>
