<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>litheSuite</key>
    <string>FlukeFlexibleValidateParser</string>
    <key>buildSecure</key>
    <string>ModalJudiciousJadeParserUntil</string>
    <key>daintyFinishDefine</key>
    <string>TransformProjectorShoreUpdater</string>
    <key>scenarioClosePleasantCreator</key>
    <string>NativeSternFinishBuilder</string>
    <key>actionSkilled</key>
    <string>EntryInspectorSearchPlanner</string>
    <key>opalPack</key>
    <string>SnowConfigUniversalMask</string>
</dict>
</plist>
