<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>measuredConverterGeneric</key>
    <string>MoorOverFetchRevoke</string>
    <key>elegantVerifySnapshotter</key>
    <string>CollectionWellLocalize</string>
    <key>fixPrimalPlannerMuse</key>
    <string>FrameworkHandleTo</string>
    <key>elasticEdgeIndexConductor</key>
    <string>TideScheduleWarehouseWarehouse</string>
    <key>luminousThroughoutView</key>
    <string>PersistTo</string>
</dict>
</plist>
