<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>suiteMoveTreat</key>
    <string>ElevateSlipDigitalRing</string>
    <key>dataCrystal</key>
    <string>NectarReplayPresenter</string>
    <key>paginateProud</key>
    <string>SmoothTimelineThorough</string>
    <key>tableCollectorGranularThrough</key>
    <string>DataSourceTopmostCollector</string>
    <key>hidePainter</key>
    <string>InteractorQuickHelix</string>
    <key>ownerLeanAgainst</key>
    <string>StemWorkInvitingAssign</string>
    <key>wellCalibrate</key>
    <string>MeritMobileFair</string>
    <key>facadeSereneMist</key>
    <string>StoreSandStopHandler</string>
    <key>graphZealousSpectrumDispatch</key>
    <string>GracefulErrorCompact</string>
    <key>groupCandidDerive</key>
    <string>SphereTheme</string>
</dict>
</plist>
