<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>accelerateStencilHard</key>
    <string>WithinAlong</string>
    <key>jadeMapperRenderQuirk</key>
    <string>ContextHubDriverUnderUntil</string>
    <key>replaceRenderer</key>
    <string>InteractorShoreApplyInviting</string>
    <key>civicTop</key>
    <string>CleanAlongsideRefined</string>
    <key>aboveNoble</key>
    <string>TimelineHidePrimeCoder</string>
    <key>utilityRuggedizedWorkflowAnimatorSet</key>
    <string>TenderFormatStyleStore</string>
    <key>delicateImplementLockStack</key>
    <string>SlipSublimeSelectorStep</string>
    <key>quickRiverOrchestrator</key>
    <string>FairyInterpreter</string>
    <key>decoratorCelestialRound</key>
    <string>OutsideTenseShape</string>
</dict>
</plist>
