<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dualTerminalAlertPlay</key>
    <string>DisplayCloseOnPlay</string>
    <key>instanceStrongConnectorAlongside</key>
    <string>ShaderNearSortUpgradeBuoyant</string>
    <key>painterNeatConstruct</key>
    <string>DuringSandParcel</string>
    <key>mineSpontaneous</key>
    <string>PayloadStoreCleanOwner</string>
    <key>forHeaderCanvas</key>
    <string>CreateExtractRetreatPlanet</string>
    <key>intuitiveCacheFallback</key>
    <string>ForStyleExtractDynamic</string>
    <key>loadSuite</key>
    <string>ReadDrawStarRenderer</string>
    <key>brokerJovial</key>
    <string>FabricTextureViewport</string>
</dict>
</plist>
