<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>finishQuickTransformable</key>
    <string>SolidVerseBefore</string>
    <key>binderTertiaryDeliver</key>
    <string>PlannerStopWithout</string>
    <key>translateHeath</key>
    <string>CenterStencilArrayWide</string>
    <key>lockDramaticHeaderSummit</key>
    <string>KeeperAlertNavigator</string>
    <key>platformWorkflowAnimatorRound</key>
    <string>DelegateCoherentSuitePlayful</string>
    <key>plainViewportUpdateFormatter</key>
    <string>ClassCreateBefore</string>
    <key>maskComposerHumaneNavigationBar</key>
    <string>ControllerBelowInfinity</string>
    <key>brokerRoyal</key>
    <string>NotebookEnumVaporViewport</string>
</dict>
</plist>
