<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>presenterModest</key>
    <string>KnownPositionerAccount</string>
    <key>panelPromptRead</key>
    <string>WordOfTerrain</string>
    <key>factoryGeneratorOakenBuild</key>
    <string>RuggedModeFocal</string>
    <key>easyParserCoordinate</key>
    <string>DecoratorPolishedLock</string>
    <key>classicDrawMoor</key>
    <string>InferenceHumorRelief</string>
    <key>logicalShader</key>
    <string>ParallelLocalizeCoordinator</string>
    <key>schedulerBy</key>
    <string>RestClassicOff</string>
</dict>
</plist>
