<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>assemblerCoherentCreek</key>
    <string>RusticSeasonalCurated</string>
    <key>warehouseAlongside</key>
    <string>UponOutputLibrary</string>
    <key>unusualAttach</key>
    <string>ExportParserEnum</string>
    <key>transformerPlatformScroll</key>
    <string>AppendUprightWisdom</string>
</dict>
</plist>
