<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>launchTheme</key>
    <string>FairTransitReplace</string>
    <key>finishHandlerCrestline</key>
    <string>TupleSlideAlert</string>
    <key>templatePragmaticPreload</key>
    <string>GorgeViaHighlight</string>
    <key>modestCatalogerExoticCalculate</key>
    <string>OrchestratorShadowSage</string>
    <key>resolverLakeQualityPreview</key>
    <string>FastInteractiveBreezy</string>
    <key>moveTactful</key>
    <string>ConverterLocatorProjectorControllerFind</string>
    <key>discreteArrayModulePause</key>
    <string>ConsolidateCarefreeStrike</string>
</dict>
</plist>
