<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crispBrokerMigrate</key>
    <string>ThreadedInspectorPositioner</string>
    <key>roundSteamRealPainter</key>
    <string>NodeDownVisitorStage</string>
    <key>expandInterpreterIntuitive</key>
    <string>SpriteDataSourceAngle</string>
    <key>steelCacheJovialConnector</key>
    <string>EnumRusticWithDepot</string>
    <key>workbenchTerminalMutual</key>
    <string>SortApplyVenture</string>
    <key>templateResizeHeaderConsistent</key>
    <string>ConcurrentPleasantSave</string>
    <key>handsomeHandlerRemoveBinary</key>
    <string>CreatorThroughout</string>
    <key>implementUnifiedAssembleMeadow</key>
    <string>FairyTallFactoryWhite</string>
</dict>
</plist>
