<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>quintessentialCollection</key>
    <string>FineBuilderUrban</string>
    <key>overController</key>
    <string>AroundGuideStencilPrint</string>
    <key>viewportFromBoldDome</key>
    <string>ProudCatalogerReplay</string>
    <key>insightDaintySurface</key>
    <string>ClassForestBehind</string>
    <key>shadowedPresenterStripeWrite</key>
    <string>SetDatasetterConverterMenu</string>
    <key>converterPerform</key>
    <string>FactoryKeenFacade</string>
    <key>labelWorkbenchFlexible</key>
    <string>ScheduleHandleDefineSage</string>
</dict>
</plist>
