<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutNovel</key>
    <string>BalancerDuringLocalTribe</string>
    <key>addStylerPlatformBright</key>
    <string>WiseParserFaintVision</string>
    <key>timeTemplateBalanced</key>
    <string>StylerReceiveOn</string>
    <key>updaterLockTurnLarge</key>
    <string>ProgramBrokerRow</string>
    <key>launchPageRenderer</key>
    <string>WiseOperatorClearPremier</string>
    <key>coreDerive</key>
    <string>ArrayMineTemplate</string>
    <key>intoConductorRowBonny</key>
    <string>RowJewelVividAdd</string>
</dict>
</plist>
