<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appBarThoroughDecodeController</key>
    <string>PlayCircuitLeanFrost</string>
    <key>markOrganizerLean</key>
    <string>AcceleratePlannerCentralSnapshotterPush</string>
    <key>assembleAnchorEnum</key>
    <string>LushEnumStart</string>
    <key>ontoKnackPainter</key>
    <string>ConnectSetStoreRegister</string>
    <key>syncImplement</key>
    <string>WithinPleasantSetRevoke</string>
</dict>
</plist>
