<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loadWind</key>
    <string>HarmonyBackupWarehouse</string>
    <key>postboxPreloadCarefreeHelper</key>
    <string>RobustWaryCautious</string>
    <key>schedulerFalls</key>
    <string>NorthHistoryBrokerHaze</string>
    <key>rangeFactory</key>
    <string>ArtifactMildRotate</string>
    <key>artfulDataSourceSendPrairie</key>
    <string>GiganticEarnestTransformer</string>
    <key>enumElement</key>
    <string>HappyFriendlyAudioFetch</string>
    <key>grovePerform</key>
    <string>WorkflowAnimatorHighlightAlongsideArray</string>
</dict>
</plist>
