<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>canyonStableViewModel</key>
    <string>TranslateLayoutRemove</string>
    <key>shapeWriteCarefree</key>
    <string>CollectionPastCalmTerrain</string>
    <key>treasureBlitheCoordinator</key>
    <string>ConverterHandyContextJust</string>
    <key>surfaceShader</key>
    <string>SelectorBuilder</string>
    <key>factorySpritePrompt</key>
    <string>FancyOutlineReturnCollectorCheck</string>
</dict>
</plist>
