<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>defineTaskTactfulConvert</key>
    <string>ViaSpectrumSkyConsolidate</string>
    <key>operandSimple</key>
    <string>RockSignerDawnLucid</string>
    <key>humorAssign</key>
    <string>SaverPerformSpokeQuality</string>
    <key>valueOwner</key>
    <string>LoadDismissTemplateDialog</string>
    <key>cliffCloseBrokerUnified</key>
    <string>ConvertSuiteUpgrade</string>
    <key>frostClose</key>
    <string>ScenarioHeaderMysticHide</string>
    <key>focusMergeSunnyHeader</key>
    <string>AssemblerOrnateConfigure</string>
</dict>
</plist>
