<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formalCatalog</key>
    <string>DryShaderPlazaMajor</string>
    <key>hostMarkPrecise</key>
    <string>GladeLakeOn</string>
    <key>expandDataSourceOperand</key>
    <string>TransformableMapperSpectrumGreen</string>
</dict>
</plist>
