<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>harmlessCompressMarshReference</key>
    <string>DisplayIntoPlay</string>
    <key>mapperWorthThickOver</key>
    <string>SlipSymbolNeural</string>
    <key>snapshotterAcceptCanvasDark</key>
    <string>FormatterTwistPreloadAttach</string>
    <key>throttleJewelFlexible</key>
    <string>ResolverAgent</string>
    <key>loadControllerSolidLanguage</key>
    <string>NearRecordScenario</string>
    <key>winterCautiousUnder</key>
    <string>InViewportViaSchedule</string>
</dict>
</plist>
