<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handleMountainDataSource</key>
    <string>TimelineEnergeticWarehousePack</string>
    <key>collectorKindredWith</key>
    <string>PieceGetShader</string>
    <key>tideMeasuredFacadeWithout</key>
    <string>PlayGrove</string>
    <key>everydayPlaceWait</key>
    <string>CenterAmidWhisperShortcut</string>
    <key>basicStencilRevoke</key>
    <string>WordOutlineTransformPath</string>
    <key>showAssembler</key>
    <string>DiagramDismissNeat</string>
    <key>dismissSnapshotterSageLean</key>
    <string>AppendUniversalShader</string>
    <key>faithfulMapFleetFactory</key>
    <string>FormatAccelerateSpectrum</string>
    <key>modernSymbol</key>
    <string>DefineDefiniteAt</string>
    <key>consoleFix</key>
    <string>BambooPainterCoordinateFlash</string>
</dict>
</plist>
