<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coolPainterDiamondOn</key>
    <string>IncrementalUpdaterHighlightCache</string>
    <key>definiteUpgrade</key>
    <string>MacroBrokerCrestlineMist</string>
    <key>untilScheduler</key>
    <string>ColorWorkbenchDecentScrollQuality</string>
    <key>methodCollectionSharp</key>
    <string>StylerSagePearlPaginate</string>
</dict>
</plist>
