<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pauseOwnerStepTrusty</key>
    <string>BalancerInsideAnimateLayer</string>
    <key>transformerBreak</key>
    <string>ShaderRotateFrugalShow</string>
    <key>plazaWorkbench</key>
    <string>InsightPresentShaderTime</string>
    <key>workbenchChief</key>
    <string>TextureStepOnLayout</string>
    <key>schedulerTrySheet</key>
    <string>RemoveShortcutFriendly</string>
    <key>implementAmidPortrait</key>
    <string>TimelineLarge</string>
</dict>
</plist>
