<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textureDramaticPlugin</key>
    <string>ElmGladeWealthyPleasant</string>
    <key>triumphMeasureLean</key>
    <string>WillowFacadeWarmBuoyantMigrate</string>
    <key>transitConductorRevoke</key>
    <string>HandleCatalogerSplit</string>
    <key>treeComplex</key>
    <string>DryWideUpIn</string>
    <key>tupleEnumMeasure</key>
    <string>RegisterPastDaintyFrom</string>
</dict>
</plist>
