<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spectrumGraveResume</key>
    <string>IntenseConductorSchedulerScale</string>
    <key>aroundShader</key>
    <string>SequenceCalibrateBehindPersist</string>
    <key>creatorGraciousSpacer</key>
    <string>VerifyShuffleBridgeTexture</string>
    <key>tribePure</key>
    <string>ReplaceDefineTypeBeneath</string>
</dict>
</plist>
