<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alongsideLasting</key>
    <string>ComputeClassFactoryRendererPast</string>
    <key>mapperParallel</key>
    <string>MaskBeforeController</string>
    <key>themeResetRenderer</key>
    <string>ConstructSurfSurfaceAdd</string>
    <key>preciseConverter</key>
    <string>KnackViewDraw</string>
    <key>outlineControllerHastyStencil</key>
    <string>OpenDomeUrbaneShuffle</string>
    <key>responsivePlannerAtUpgrade</key>
    <string>InferenceMapMoor</string>
    <key>feasibleOverHarborSaver</key>
    <string>FeasibleUtilityFrostVenture</string>
</dict>
</plist>
