<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterOnConsistent</key>
    <string>DesertDropMomentAngleBroker</string>
    <key>contextRecordFacade</key>
    <string>TooltipOperatorAroundNeatUp</string>
    <key>viableSlide</key>
    <string>InterpreterVisualizeTupleShow</string>
    <key>freeSelectorReceive</key>
    <string>DistinctTerminal</string>
    <key>worthyRead</key>
    <string>CollectorSendLotusRange</string>
    <key>handlerReliableDrop</key>
    <string>MixerPoplarCavern</string>
    <key>extensionNaturalWarehouseResume</key>
    <string>WarehouseTwistHarmlessMigrateWealthy</string>
</dict>
</plist>
