<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>groveRefined</key>
    <string>InletColorPushWarm</string>
    <key>dynamicWarehouse</key>
    <string>WriteSilverAround</string>
    <key>beginIterative</key>
    <string>CollectorThemeSubtle</string>
    <key>replaceTopmostStair</key>
    <string>StreamSpeckledCrossDapper</string>
    <key>rateCollector</key>
    <string>OrganizerChannelAdd</string>
    <key>moveConnector</key>
    <string>EnqueueDecoratorTable</string>
    <key>uprightOutput</key>
    <string>SpectrumFromAccountFix</string>
    <key>formatterFill</key>
    <string>ImplementErrorWithButtonTangible</string>
    <key>starAssembler</key>
    <string>TrueIntoFixSelector</string>
</dict>
</plist>
