<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ofDurableHostSpectrum</key>
    <string>SelectOfFramePresenter</string>
    <key>transformableUrbanTrainRelay</key>
    <string>SlateFilterOnyxDecompress</string>
    <key>willingDrawIconPack</key>
    <string>HandlerWaySubmit</string>
    <key>setOcean</key>
    <string>VigorousDelegateQuirkCourier</string>
    <key>canyonSharpResize</key>
    <string>DistantTeamPositioner</string>
</dict>
</plist>
