<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>platformFabric</key>
    <string>PaletteBaselineUltimate</string>
    <key>steelCapture</key>
    <string>ClearTheorySecureLock</string>
    <key>goodHostClassOutside</key>
    <string>CrestlineWorkIconFactoryMacro</string>
    <key>methodShuffleWise</key>
    <string>BelowFactoryWiseFancy</string>
    <key>elasticSurface</key>
    <string>BundleMagnet</string>
    <key>calmSnapshotterAccelerateOff</key>
    <string>GetStencilConstructForward</string>
    <key>portalUnique</key>
    <string>VisitorThroughChatDecompress</string>
</dict>
</plist>
