<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>yieldNavigateDaintyConverter</key>
    <string>ModifyConfigureRecord</string>
    <key>datasetterTriumph</key>
    <string>FertileResolverMighty</string>
    <key>beforeOrderly</key>
    <string>UrbanMeasureRegisterHarmonic</string>
    <key>constructSharpWarehousePlatform</key>
    <string>CompareHeaderRecordMind</string>
    <key>attachCollectorHarmonyModular</key>
    <string>RefinedPrimaryLockDocumentAbsolute</string>
    <key>folderHoldSpectrumNoble</key>
    <string>SceneBeyondRavenAccelerate</string>
    <key>acrossFactorySymmetric</key>
    <string>MoveInDirectory</string>
    <key>afterFlash</key>
    <string>BuildTabbarEmitter</string>
    <key>enableQuiet</key>
    <string>GracefulWithCapture</string>
    <key>projectorScanClip</key>
    <string>OutlineCacheSpectrumFlash</string>
</dict>
</plist>
