<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>magicalPaintPalette</key>
    <string>ComputePhoenixIconExtract</string>
    <key>rareTheoryOwner</key>
    <string>BrightOnPresentHide</string>
    <key>handsomeAppendCoordinator</key>
    <string>ReceiveProjectorTransformer</string>
    <key>playFabric</key>
    <string>FinishTransformerDownProvision</string>
</dict>
</plist>
