<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>verifyTimelineElastic</key>
    <string>LayoutSwiftTemplateAnimate</string>
    <key>converterPersist</key>
    <string>EngineStringLotusJourneyTimeline</string>
    <key>catalogerOutsideSteady</key>
    <string>FrostCompressDetect</string>
    <key>waySuite</key>
    <string>ThrottleChartPanelTreat</string>
    <key>obviousUpdater</key>
    <string>VisualizeAssetSwiftOrigin</string>
    <key>chainProjector</key>
    <string>ControllerFetchTableChart</string>
    <key>themeBroker</key>
    <string>ShuffleHideScroll</string>
    <key>consistentHelperProjectorOutline</key>
    <string>WeightlessPageDark</string>
    <key>stylerFree</key>
    <string>DominantMoorAnalyze</string>
    <key>presenterMerryTower</key>
    <string>PlannerStemDiscreteFlash</string>
</dict>
</plist>
