<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classRelease</key>
    <string>LuminousFormatterTemplateOrigin</string>
    <key>hybridMessageOntoScheduler</key>
    <string>GroupFacadeSceneSort</string>
    <key>upDecisive</key>
    <string>FreeMagicalScaleArtful</string>
    <key>deepByPositive</key>
    <string>PresentTimelineAcceptTheme</string>
    <key>convertClassic</key>
    <string>FleetHighlightGreat</string>
    <key>connectorMajorHazeReturn</key>
    <string>UpdaterNearShuffleUpgrade</string>
    <key>vocalFacadeEstuary</key>
    <string>MigrateWithoutStyler</string>
</dict>
</plist>
