<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>giganticComposer</key>
    <string>LoadWatch</string>
    <key>glacierAssignWeightlessShader</key>
    <string>BalancerCreatorTo</string>
    <key>pacificSuiteScenario</key>
    <string>ControllerTriggerRenderThreadedPeerless</string>
    <key>handlerBeside</key>
    <string>FacadeInAssemble</string>
</dict>
</plist>
