<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>referenceWisdomStoreSplendid</key>
    <string>OuterWaveMark</string>
    <key>trueBalancerWithout</key>
    <string>QueueChipImageWinter</string>
    <key>decoratorScrollToast</key>
    <string>SchedulerCoordinateRoundRetreat</string>
    <key>logicMighty</key>
    <string>BinderSnappyControllerInsert</string>
    <key>candidConnectorAdapter</key>
    <string>TextureElmMultiply</string>
</dict>
</plist>
