<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hardThrottleNeat</key>
    <string>HoldAnalyzeWatch</string>
    <key>plannerValuable</key>
    <string>DelegateAssembleResolverCore</string>
    <key>compatibleBrokerBelowAbundant</key>
    <string>InstanceFriendlyArrayConfig</string>
    <key>orchestratorLayer</key>
    <string>StorySceneOff</string>
    <key>balancedStandOrchestrator</key>
    <string>UnusualDataSourceLanguageWorkbench</string>
    <key>untilInsightCollector</key>
    <string>PurePureTranslateVitalParadise</string>
    <key>modestStand</key>
    <string>WishMarkPositiveAlcove</string>
    <key>plazaTransformableRead</key>
    <string>AssetWindNavigatorShader</string>
    <key>pixelPresentSchedulerBasic</key>
    <string>AroundOrchestrator</string>
</dict>
</plist>
