<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>uniqueTupleApplyPackage</key>
    <string>BeyondBesideMutualTo</string>
    <key>signalInterpreterPresent</key>
    <string>VersePlannerQueueWhisper</string>
    <key>endWorkflowAnimator</key>
    <string>ComposerAnalyzeOutput</string>
    <key>cliffJoyfulPerformResolver</key>
    <string>TrendSecureConfigure</string>
</dict>
</plist>
