<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>youngDecorator</key>
    <string>NatureGuidebookTactic</string>
    <key>fabricPleasantCaptureLink</key>
    <string>DapperBriskNatureImplement</string>
    <key>topmostMultiply</key>
    <string>OptimalBaseHighlight</string>
    <key>dialogWild</key>
    <string>TupleCreativeFleetAccelerateInitial</string>
    <key>assemblerMediaVerifyAerial</key>
    <string>InstanceParserIconic</string>
    <key>localizeBalancerRenderer</key>
    <string>RestorePaintGetOperand</string>
    <key>toHeader</key>
    <string>DenseCleanResolver</string>
    <key>oddDataSource</key>
    <string>BeforeClassChainInitialize</string>
    <key>darkMediaUpdaterSubmit</key>
    <string>DispatchCollectorCreator</string>
    <key>transitGet</key>
    <string>DecompressClearLink</string>
</dict>
</plist>
