<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>improvedDocument</key>
    <string>HandlerOwnerAroundWindow</string>
    <key>duringConductorWarehouseLithe</key>
    <string>FormatEnumPlayfulThin</string>
    <key>equalInitializeSnapshot</key>
    <string>CacheWarehouseHarmonicCreek</string>
    <key>everydayHeaderDropStem</key>
    <string>EndGraciousSecurePack</string>
    <key>coordinatorWayFilled</key>
    <string>EverydayTemplateBare</string>
    <key>lastingShuffleTupleUtility</key>
    <string>CorePortrait</string>
    <key>youngWorldDuring</key>
    <string>HarmlessLaunchAboveGradient</string>
</dict>
</plist>
