<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nearOwnerJudicious</key>
    <string>BeforeSnapshotterSpeckledReal</string>
    <key>lushFacadeSenseCoordinate</key>
    <string>ClearCoordinatorSchedule</string>
    <key>waveMaskKindredParser</key>
    <string>TurnWriteStencilTorch</string>
    <key>leanElmAmidDecorator</key>
    <string>ResumeMaskVisitorWhite</string>
    <key>amongFrugal</key>
    <string>ThrottlePixelAmong</string>
    <key>emitterCreatorPragmatic</key>
    <string>NearScroll</string>
    <key>symbolConnect</key>
    <string>ContextAcrossRealm</string>
    <key>workflowAnimatorChainScale</key>
    <string>BinderMethodAfter</string>
    <key>releaseBuoyantFocus</key>
    <string>EventMapperThornDashboard</string>
    <key>workbenchUnifiedDiagram</key>
    <string>CollectorTrustFillTemplateAssembler</string>
</dict>
</plist>
