<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parseStepConnector</key>
    <string>BareUnderThrottle</string>
    <key>selectDramaticScheduler</key>
    <string>ViaMountTimelessParadise</string>
    <key>submitTurn</key>
    <string>HandyElevateLucid</string>
    <key>preloadUpdater</key>
    <string>VisionAtImmense</string>
</dict>
</plist>
