<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appendHonestSurfaceButton</key>
    <string>RendererZestfulMigrateFrame</string>
    <key>headerSpectrumBalanced</key>
    <string>ThemeTemplateWary</string>
    <key>chiefWreath</key>
    <string>TemplateAlongsideCapture</string>
    <key>selectorOddStencilElevate</key>
    <string>VigorousFastLaunch</string>
    <key>viewportRun</key>
    <string>MagnetBundleDirectoryRepaint</string>
    <key>nearHelperDefinite</key>
    <string>RendererMarkDuring</string>
    <key>onProtect</key>
    <string>PetiteLayoutFaintClear</string>
</dict>
</plist>
