<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wisdomRender</key>
    <string>RefreshPrivateCourierStage</string>
    <key>collectionCozyDown</key>
    <string>DuskPoolGrowing</string>
    <key>mountThoroughUpdaterSelector</key>
    <string>DialogDefinedHarmony</string>
    <key>windShadowedHideSnapshotter</key>
    <string>QualityUpPacificDark</string>
    <key>plannerYieldLushBegin</key>
    <string>RenderLayerCupertinoBehind</string>
</dict>
</plist>
