<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readTopmost</key>
    <string>FrugalMatchSet</string>
    <key>collectorShapeExpertRecord</key>
    <string>AtUnderPerformShareSelect</string>
    <key>globalAtlasConductorSave</key>
    <string>ShowAfterMove</string>
    <key>walkWithoutPetiteSaver</key>
    <string>MarkerHumbleImplement</string>
    <key>configCataloger</key>
    <string>AcceptArraySortBlock</string>
    <key>crispFormat</key>
    <string>FactoryAcceptGet</string>
    <key>frugalAcrossWindow</key>
    <string>RendererMagnetMistGlobe</string>
</dict>
</plist>
