<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viewportElegantShadow</key>
    <string>StableConvertRoyal</string>
    <key>maskSwiftTime</key>
    <string>CanyonReadBelowAt</string>
    <key>pauseContextOriginal</key>
    <string>EndJubilantBreak</string>
    <key>leanCataloger</key>
    <string>IconPackTerminalBriskHistory</string>
</dict>
</plist>
