<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>untilRusticRateDefine</key>
    <string>LineScheduler</string>
    <key>directoryVisitor</key>
    <string>SoftAtStairConnector</string>
    <key>behindCoralHelperFriendly</key>
    <string>ClearFinishLayout</string>
    <key>aboveTheme</key>
    <string>LedgeClearValidateResize</string>
    <key>hardyStencil</key>
    <string>ToastQuillBasic</string>
    <key>inDelegate</key>
    <string>DecompressDominantFind</string>
    <key>lucidWarehouse</key>
    <string>SignerProperStencilHorizon</string>
    <key>creatorSecondary</key>
    <string>ParserSignatureAudioUnder</string>
    <key>conductorMountainAbleSort</key>
    <string>OrchestratorAgainstLivelyParser</string>
    <key>beyondBasinFree</key>
    <string>MeadowSunWorkbench</string>
</dict>
</plist>
