<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parseSaver</key>
    <string>EdgeMapLayoutRotate</string>
    <key>grandRoadmap</key>
    <string>MessagePixelLean</string>
    <key>topmostRenderer</key>
    <string>DigitalSlateTwist</string>
    <key>candidNectar</key>
    <string>EnumRefinedNaturalReplaceLoad</string>
    <key>guideBelowCrystalArray</key>
    <string>RainNearCreatorIntimate</string>
    <key>fixTheme</key>
    <string>EnvelopeAssembleMessageLand</string>
    <key>lakeModifyBalancerLiberal</key>
    <string>PlanetThinBasePush</string>
    <key>brookPlush</key>
    <string>TranslateValidateAtomic</string>
</dict>
</plist>
