<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>steelTemplateParse</key>
    <string>PhoenixSpectrumWorkflowAnimatorTenseWind</string>
    <key>sensorFor</key>
    <string>NavigateEpisodeBasin</string>
    <key>vigorousAmongWorkbenchStrike</key>
    <string>TowerDuneRoyal</string>
    <key>goodUponUpdater</key>
    <string>ReturnBindPresenterOn</string>
    <key>rateHelper</key>
    <string>ReleaseResetControllerUnique</string>
    <key>edgeComposer</key>
    <string>EnableHostPastTame</string>
</dict>
</plist>
