<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dominantPainterTrigger</key>
    <string>SlideSurfaceFromFeasible</string>
    <key>iconFilledStencilParse</key>
    <string>HintedSpiritInterpreterCompressNorth</string>
    <key>datasetterAmbient</key>
    <string>DeriveWeightlessCrownAgent</string>
    <key>globalPointSpectrumDisplay</key>
    <string>SpiceDetectStormResponsiveFlagship</string>
    <key>portTall</key>
    <string>StormDrawPlayObject</string>
    <key>birchClass</key>
    <string>StartFlowSparkCrown</string>
    <key>headerSupplyPresent</key>
    <string>ClipLawfulAlcoveClever</string>
</dict>
</plist>
