<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appBarDetect</key>
    <string>IntimateHeaderCohesivePort</string>
    <key>resourceWary</key>
    <string>SlideWalkStrengthFixtureScan</string>
    <key>handleTableIntuitive</key>
    <string>DefineSteelFind</string>
</dict>
</plist>
