<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rusticFragment</key>
    <string>ClassDuringPastSphere</string>
    <key>delegateUntouchedSelectQueue</key>
    <string>CalculatePreviewPositionerCache</string>
    <key>matchRationalTriggerReference</key>
    <string>GrowingToolCompareOnto</string>
    <key>storeMagicalVisitor</key>
    <string>MixerCenterGridlineCollector</string>
    <key>mapperDiscrete</key>
    <string>MixerDarkCoralMeritTune</string>
    <key>mountHandler</key>
    <string>RiverRoundedOverlayWait</string>
</dict>
</plist>
