<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>archiveDraw</key>
    <string>EndVisitorBadge</string>
    <key>decoderPaginateBinder</key>
    <string>CardSoftCompactMove</string>
    <key>lushShadowInteractorTheme</key>
    <string>DecentThoroughDeriveMutual</string>
    <key>painterResume</key>
    <string>BundleDirectoryTransformableStencil</string>
    <key>springInterpreterForResponsive</key>
    <string>TerminalInfinite</string>
    <key>warehouseNavigateCarefreeInspector</key>
    <string>CollectorLeanUnderMark</string>
    <key>ofFacet</key>
    <string>CatalogerLevelMapper</string>
    <key>themeFilledShortcutValidate</key>
    <string>LitheStencilNectar</string>
    <key>wildBannerStylerElevate</key>
    <string>BreakBindElevateDatasetter</string>
    <key>exactTabview</key>
    <string>TupleTempleRotateTransform</string>
</dict>
</plist>
