<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>largeInsideCollection</key>
    <string>AirflowMakeValuable</string>
    <key>concurrentFabric</key>
    <string>HeaderSmartPersistOf</string>
    <key>pureDecoderImplementWith</key>
    <string>SaveThroughFor</string>
    <key>silentSummitDelegateTransform</key>
    <string>ShowRowHandler</string>
    <key>warehouseBambooLucidWithin</key>
    <string>HubsetAnchorCreator</string>
</dict>
</plist>
