<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lifecycleTexture</key>
    <string>MenuSuper</string>
    <key>collectionStoryUnusual</key>
    <string>MaskPainterReliefChannelAngle</string>
    <key>workbenchStartSincere</key>
    <string>WallTemplateGracious</string>
    <key>shadeKind</key>
    <string>WatchControllerTexture</string>
    <key>balancedTeamViewModelTrain</key>
    <string>WithoutRusticPast</string>
    <key>templateJubilantInValid</key>
    <string>NectarSunnyBridgeBadge</string>
    <key>textureConnectFormalTexture</key>
    <string>RenderCupertinoDecompress</string>
    <key>generousBinderPersistSilver</key>
    <string>BoldEdgeMap</string>
    <key>accelerateResolverManifest</key>
    <string>HeavenOrbit</string>
    <key>snapshotterDecompress</key>
    <string>EpisodeReplayRatePaginate</string>
</dict>
</plist>
