<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rareTreatRestore</key>
    <string>FetchExtra</string>
    <key>nativePainter</key>
    <string>TruthKnackPresentLanguage</string>
    <key>earnestAlongsideProjector</key>
    <string>TooltipEqualNorthSecureWatch</string>
    <key>converterEnvelope</key>
    <string>SuiteHappyPreload</string>
    <key>workbenchWholeShortcut</key>
    <string>ParseRepaintSwiftRoundedNavigate</string>
</dict>
</plist>
