<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decompressProvision</key>
    <string>HubsetBySnapshotter</string>
    <key>toolConvert</key>
    <string>DistinctTriggerEndVenture</string>
    <key>orchestratorRemoveHeader</key>
    <string>ParadiseThemeStyler</string>
    <key>steamIndexHeaderJoyful</key>
    <string>PathwayIntactBundleHorizon</string>
    <key>crystalUntilResolver</key>
    <string>TowardTableTooltipBeneath</string>
    <key>matureInterpreter</key>
    <string>AssemblerTexturePoplar</string>
    <key>slideConductorCautious</key>
    <string>FrugalAccurateConvert</string>
    <key>historySmartPainter</key>
    <string>GorgeRationalActionScenario</string>
    <key>reliefBind</key>
    <string>ShowUpdater</string>
</dict>
</plist>
