<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textureWorthResume</key>
    <string>ArchiveTurnResize</string>
    <key>wirelessFillDataSource</key>
    <string>SystematicGrid</string>
    <key>handyDecode</key>
    <string>ModalDomeDropdown</string>
    <key>organizerLandFormat</key>
    <string>ConductorCircuitDataDelicateSoft</string>
    <key>hastyTribe</key>
    <string>ExtractConnectorAccept</string>
    <key>connectorWaitWilling</key>
    <string>DismissWithHeader</string>
    <key>showTransitGenerous</key>
    <string>CollectionFindDownMenu</string>
    <key>consumeCatalogSystematicPainter</key>
    <string>MapperResizeFactory</string>
</dict>
</plist>
