<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>superHubVisitorFrom</key>
    <string>TerminalCloseManifest</string>
    <key>tenderLineCreateHelper</key>
    <string>CohesiveEndFilterEnqueue</string>
    <key>mountainVisitor</key>
    <string>DecodeJudiciousMenu</string>
    <key>engineOpen</key>
    <string>FineToolbarFactory</string>
</dict>
</plist>
