<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterRestoreToolbar</key>
    <string>IndexDatasetterThrottleSwift</string>
    <key>polishedUntilConverter</key>
    <string>TagNobleGet</string>
    <key>worldPainterOptimizeWitty</key>
    <string>TabbarWildOptimize</string>
    <key>vocalAlong</key>
    <string>InletGlobalHelperRock</string>
    <key>chiefAssignBalancer</key>
    <string>AddPrimaryLocator</string>
    <key>builderManifestAmid</key>
    <string>IntenseBirchPolicyTemplate</string>
    <key>royalMeasureFactoryMethod</key>
    <string>ImportBuilderJasper</string>
</dict>
</plist>
