<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signerBackupShuffle</key>
    <string>OpenContinue</string>
    <key>selectorWhisperConvertEasy</key>
    <string>BadgeStorageRecord</string>
    <key>glacierGiganticViewModel</key>
    <string>ExpertEnergeticAtlasMap</string>
    <key>mediaTemplate</key>
    <string>ReplaceRendererTexture</string>
    <key>detectHandlerWidescreenSnapshot</key>
    <string>VerifyRepaintJudicious</string>
    <key>workflowAnimatorHideFitView</key>
    <string>ThrottleSpokeBesideAirflow</string>
    <key>focalSurface</key>
    <string>TheoryMigrateOrchestratorChain</string>
</dict>
</plist>
