<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionFor</key>
    <string>PortalSchedulerPlanner</string>
    <key>invitingEndTransformableScaffold</key>
    <string>RecordCreatorSearch</string>
    <key>tranquilPlannerSnow</key>
    <string>AnalyzeModifySignaturePetal</string>
    <key>soundMeasureViewport</key>
    <string>SensorWorkflowAnimator</string>
    <key>animateToolbar</key>
    <string>LawfulDecoratorBasin</string>
    <key>signerTrusty</key>
    <string>EdgeMapOrderlyPearlStrike</string>
    <key>classStrongConnect</key>
    <string>TemplateTeamDisplay</string>
    <key>fillOrchardUpbeat</key>
    <string>EnergeticThinFitCancel</string>
    <key>warehouseCleanPanel</key>
    <string>StencilHoldScaleWishRevoke</string>
</dict>
</plist>
