<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>besideLitheTerminal</key>
    <string>TagMuseImageOver</string>
    <key>downIntuitive</key>
    <string>MergeAppend</string>
    <key>quietShapeSaver</key>
    <string>LineForTranslate</string>
    <key>resolverLightStoreStripe</key>
    <string>ResizeAccessEnvelope</string>
    <key>zoneCoordinator</key>
    <string>ClearDecisiveVerifyAt</string>
    <key>storeGeneratorSelector</key>
    <string>ReleaseGuidebookPersistBehind</string>
    <key>transitConsolidateFacadeIterative</key>
    <string>CalibrateWaryLayoutExtract</string>
    <key>shaderFluentHighlight</key>
    <string>TranquilTransitSigner</string>
    <key>interpreterWork</key>
    <string>ResponsiveSmoothFitFree</string>
    <key>supremeVerifyWealth</key>
    <string>InterpreterBoard</string>
</dict>
</plist>
