<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>amidValidFragmentScheduler</key>
    <string>PushMultiplyMove</string>
    <key>feasibleTag</key>
    <string>ResumeDataSourceArrayController</string>
    <key>transformWorkflowAnimatorEmitterExpanded</key>
    <string>HelperResolverBind</string>
    <key>updaterDismiss</key>
    <string>OwnerStencil</string>
    <key>dialogImplement</key>
    <string>SpectrumLayoutCalibrate</string>
    <key>fragmentImmenseOverMapper</key>
    <string>PanelDropdownSend</string>
</dict>
</plist>
