<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scaleValuable</key>
    <string>ReservoirLithe</string>
    <key>harmonicVerifyManageController</key>
    <string>TertiaryPersistOutlineStop</string>
    <key>summitWorkflowAnimatorProper</key>
    <string>SubmitRendererVital</string>
</dict>
</plist>
