<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>presentToolWorkflowAnimator</key>
    <string>JudiciousMultiplyUp</string>
    <key>getWorkflowAnimator</key>
    <string>BasicSliceReplayOptimize</string>
    <key>vividSolutionConductor</key>
    <string>MistSteam</string>
    <key>orderlyPast</key>
    <string>OnyxPerformGetProjector</string>
    <key>navigatorSubtleCollector</key>
    <string>RunDismissOfWatch</string>
    <key>spectrumInterpreterCozy</key>
    <string>UnderInitializeEnd</string>
    <key>fabricEveryday</key>
    <string>CollectionDismissOrigin</string>
    <key>honeyWith</key>
    <string>AlongsideTameWillow</string>
    <key>collectionElevated</key>
    <string>InfinityAssetSaveTheme</string>
</dict>
</plist>
