<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modularPlannerConsume</key>
    <string>HostLeaf</string>
    <key>filterAgainst</key>
    <string>SourcePackStayLayoutComposer</string>
    <key>iconicBackupLock</key>
    <string>SpringOrderly</string>
    <key>primarySynchronizer</key>
    <string>DispatchMarkSolar</string>
    <key>fancyAcross</key>
    <string>ImplementQuillNatural</string>
    <key>ofPositioner</key>
    <string>FixLocalStreamLawful</string>
</dict>
</plist>
