<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>configDispatchOrganizer</key>
    <string>CourierContinueAboveWithoutTry</string>
    <key>themeGifted</key>
    <string>MediatorWorkAgainstParser</string>
    <key>naturalDispatchEnum</key>
    <string>RenderSuiteExotic</string>
    <key>alcoveCore</key>
    <string>SeaMarkInteractor</string>
    <key>painterFancy</key>
    <string>HandlerNearInAt</string>
    <key>centerSkilled</key>
    <string>OutlinedSpeckledParserManifest</string>
    <key>phoenixTextureAgainst</key>
    <string>ProjectorHelperDuring</string>
</dict>
</plist>
