<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>powerBoldStencil</key>
    <string>HighlightOptionBeaconCarefree</string>
    <key>transformerContinue</key>
    <string>WayNavigateStopPackage</string>
    <key>originalVoyageFormatterPaint</key>
    <string>SaveThickRepaintSelector</string>
    <key>transformableInsideVastTulip</key>
    <string>ReleaseDelegateTargetReset</string>
    <key>keeperTimelinePlayHarmonic</key>
    <string>AudioMediator</string>
    <key>landscapeParser</key>
    <string>EarthSnapshotterFactoryHumor</string>
</dict>
</plist>
