<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>calibrateImplementLightmap</key>
    <string>ViewportMagnetControllerUniversal</string>
    <key>presentStylerAlcove</key>
    <string>CreativeTupleAbove</string>
    <key>layoutDualConduitOn</key>
    <string>OperatorTagScaleCavern</string>
    <key>scenarioRenderer</key>
    <string>BackupLatticeRoadmap</string>
    <key>crystalResource</key>
    <string>ElevateProudOutlineSensor</string>
    <key>stylerYardOverMinimal</key>
    <string>ArrayLightmapConvert</string>
    <key>headerContextHub</key>
    <string>ShadowSilverBlueprint</string>
    <key>modifyTune</key>
    <string>OverGuidebookUnity</string>
</dict>
</plist>
