<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>schedulerSimpleDropdown</key>
    <string>ThemeSnapshotter</string>
    <key>originalHighlightWorthResolver</key>
    <string>CreateWindowBufferFirm</string>
    <key>accelerateOriginal</key>
    <string>ApplyFertile</string>
    <key>insertSnapshotterTonal</key>
    <string>FrameworkFrugal</string>
    <key>layoutWinsome</key>
    <string>WorkflowAnimatorAvatarMineReference</string>
    <key>unifiedOfLakeScheduler</key>
    <string>JasperKeenOptimize</string>
    <key>zealousWarehouseInto</key>
    <string>InBuilderTo</string>
    <key>tuneApplyWorkflowAnimator</key>
    <string>RidgeSyncDrawMark</string>
    <key>loadInitialWorld</key>
    <string>LightTransitVisualize</string>
</dict>
</plist>
